﻿.header-bar {
  position:relative;
}

#div-toolbar {  
  top:0px; 
  left:60px;   
  width: 1200px;
  height:40px;
  background-color:#356f9d;
 
}

#txt-name {
  font-family: 'SourceSansPro-ExtraLight';
  color: #0d2a46;
  font-size: 1.2rem;
  font-size: 16px; 
  width:400px;
  left:90px;
}

button {
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: 0px 0px;
   border: none;
   cursor: pointer; 
   top: 4px;
   height: 30px; 
   width: 30px; 
}

#btn-search {
  background-image: url(/images/search-trader.jpg); 
  left:87px;
 
}


#btn-add {  
  background-image: url(/images/add-trader.jpg);
  left: 500px;  
}

#btn-updTrader {
  background-image: url(/images/upd-trader.jpg);     
}

#btn-delTrader {
  background-image: url(/images/del-trader.jpg);     
}

#btn-addAddress {
  background-image: url(/images/add-address.jpg);  
}

#btn-delAddress {
  background-image: url(/images/del-address.jpg);  
}

#btn-updAddress {
  background-image: url(/images/upd-address.jpg);  
}

#table-info { 
  visibility :hidden;   
  position:relative;
  top: 50px;
  left: 95px;
  width: 600px;
  border:  1px solid black;  
  border-collapse :collapse;
  font-family: 'SourceSansPro-ExtraLight';
  
}

.header-row{    
   width: 600px;
   height:30px;
   background-color:#356f9d;
   color : white;
}

.left {
    margin-right: 0px;
    float: right;
}

#div-trader {
    visibility: hidden;
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 20px;
    display: block;
    position: absolute;
    top: 160px;
    left: 200px;
    width: 400px;
    height: 300px;
}

#div-address {      
    visibility: hidden;
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 20px;
    display: block;
    position: absolute;
    top: 160px;
    left: 200px;
    width: 400px;
    height: 300px;

}




